<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Payment Content Dashboard</title>
</head>
<body>

<section>

    <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
        Payment Content Section
    </h1>
    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">

            <div class="col mb-4">
                <div class="card">
                    <div class="text-center" style="margin-bottom:-20px">
                        <img style="height:140px;width:140px;" th:src="@{'/img/Paytm_Logo.webp'}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input  id="paytm_payment_field" type="text" placeholder="Enter amount here" class="form-control">
                            <div class="input-group-append">
                                <button onclick="paytmPaymentStart()" class="btn btn-primary btn-sm"><a style="text-decoration:none;" class="card-title"><span style="color:white;font-weight:bold;font-size:12px;">Checkout</span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="text-center" style="margin-top:20px">
                        <img style="height:100px;width:100px;border-radius:50px;" th:src="@{'/img/Razorpay.jpg'}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input id="razorpay_payment_field" type="text" placeholder="Enter amount here" class="form-control">
                            <div class="input-group-append">
                                <button onclick="razorPayPaymentStart()" style="text-decoration:none;background-color:#444791;border-color:#444791;" class="btn btn-success btn-sm"><a style="text-decoration:none;" class="card-title"><span style="color:white;font-weight:bold;font-size:12px;">Checkout</span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>
         $(document).ready(() =>{
        	 $(".item").removeClass("active1");
        	 $("#home-link").addClass("active1");
         });
     </script>

</section>

</body>
</html>