<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
</head>
<body>

<section>

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div th:if="${session.message}"
                 th:classappend="${session.message.type}" class="alert mx-5" role="alert">
                <p class="text-center" th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="fas fa-home"></i>
                </span> Dashboard
                </h3>
            </div>
            <div style="margin-bottom:10px;margin-top:30px;" class="row">
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body admin-card-body">
                            <img src="src/main/resources/static/img/circle.svg" th:src="@{/img/circle.svg}" class="card-img-absolute"/>
                            <h4 class="font-weight-normal mb-3">Total Users <i class="fas fa-user" aria-hidden="true"></i>
                            </h4>
                            <h2 class="mb-5" th:text="${numberOfUser}"></h2>
                            <h6 class="card-text">Increased by 60%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body admin-card-body">
                            <img src="src/main/resources/static/img/circle.svg" th:src="@{/img/circle.svg}" class="card-img-absolute"/>
                            <h4 class="font-weight-normal mb-3">Active Users <i class="fas fa-globe"></i>
                            </h4>
                            <h2 class="mb-5" th:text="${activeUser}"></h2>
                            <h6 class="card-text">Decreased by 10%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body admin-card-body">
                            <img src="src/main/resources/static/img/circle.svg" th:src="@{/img/circle.svg}" class="card-img-absolute"/>
                            <h4 class="font-weight-normal mb-3">NonActive Users <i class="fas fa-user-slash"></i>
                            </h4>
                            <h2 class="mb-5" th:text="${nonActiveUser}"></h2>
                            <h6 class="card-text">Increased by 5%</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="text-align:center;margin-top:10px;" class="card-title">Yearly Production</h4>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="text-align:center;margin-top:10px;margin-bottom:-5px" class="card-title">Yearly Production</h4>
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div style="margin-left:20px;margin-right:20px;margin-top:-34px;" class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="padding-left:13px;padding-top:6px;padding-bottom:10px;" class="card-title">Recent Users</h4>
                            <div style="padding-left:13px" class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Last Update</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="u:${users}">
                                        <div>
                                            <td><img th:src="@{'/img/'+${u.imageUrl}}" class="my_profile_picture" src="" alt="profile photo" /><span th:text="${u.name}"></span></td>
                                            <td><a th:href="@{'/admin/user/'+${u.id}}"><span th:text="${u.email}"></span></a></td>
                                            <td th:if="${u.enabled}"><span><label class="badge badge-gradient-success">ACTIVE</label></span></td>
                                            <td th:unless="${u.enabled}"><label class="badge badge-gradient-danger"><span>NON ACTIVE</span></label></td>
                                            <td><span th:text="${u.createdAt}"></span></td>
                                            <td><span th:text="${u.updatedAt}"></span></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script>
         $(document).ready(() =>{
        	 $(".item").removeClass("active1");
        	 $("#home-link").addClass("active1");
         });
      </script>

</section>

</body>
</html>