<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Show Detailed Notification</title>
</head>
<body>

<section>

  <div th:if="${session.message}"
       th:classappend="${session.message.type}" class="alert mr-2 ml-2" role="alert">
    <p class="text-center" th:text="${session.message.content}"></p>
    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
  </div>

  <div style="margin-bottom: 64px;" class="card mr-3 ml-3" th:if="${userById}">

    <div class="card-body">

      <div class="container text-center">

        <img style="height:200px;width:200px;" th:src="@{'/img/'+${userById.imageUrl}}" class="my_profile_picture" src="" alt="profile photo" />

        <h3 class="mt-3">
          <span th:text="${userById.name}"></span>
        </h3>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">SCMUSER<span th:text="${userById.id}"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Email</th>
            <td><span th:text="${userById.email}"></span></td>
          </tr>

          <tr>
            <th scope="row">Created At</th>
            <td><span th:text="${userById.createdAt}"></span></td>
          </tr>

          <tr>
            <th scope="row">Last Update</th>
            <td><span th:text="${userById.updatedAt}"></span></td>
          </tr>

          <tr>
            <th scope="row">Status</th>
            <td th:if="${userById.enabled}"><span><label class="badge badge-gradient-success">ACTIVE</label></span></td>
            <td th:unless="${userById.enabled}"><label class="badge badge-gradient-danger"><span>NON ACTIVE</span></label></td>
          </tr>
          </tbody>
        </table>

        <div class="description mt-3">
          <th:block th:utext="${userById.about}"></th:block>
        </div>

      </div>

    </div>

  </div>

  <script>
         $(document).ready(() =>{
        	 $(".item").removeClass("active1");
        	 $("#contacts-link").addClass("active1");
         });
  </script>

  <!-- to solve the hit and trial process -->
  <h1 class="text-center p-3 bg-danger text-white" th:unless="${userById}">User not found..</h1>

</section>

</body>
</html>