<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Password Changed Dashboard</title>
</head>
<body>

<section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <div style="height:50px;" th:if="${session.message}"
                 th:classappend="${session.message.type}" class="alert"
                 role="alert">
              <p class="text-center" th:text="${session.message.content}"></p>
              <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>

            <h3 class="mb-3">Change Password</h3>
            <form th:action="@{/admin/change-password}" method="post" action="">
              <div class="form-group">
                <input required="required" name="oldPassword" id="oldPassword"type="password" class="form-control" placeholder="Enter old password" />
              </div>
              <div class="form-group">
                <input required="required" name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Enter new password" />
              </div>
              <div class="form-group">
                <input type="checkbox" onclick="myFunction1()">
                <span class="text-checkbox">Show Password</span>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-success">Change</button>
                <button type="reset" class="btn btn-warning">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
         $(document).ready(() =>{
        	 $(".item").removeClass("active1");
        	 $("#setting-link").addClass("active1");
         });
      </script>

</section>

</body>
</html>